body {
    background-color: #C3DBC5;
    font-family: sans-serif;
    margin: 0;
    padding: 32px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

#holder {
    display: flex;
}

.container {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.bears-cheer #container {
    background-color: white;
    padding: 10px;
    border: 2px solid lightskyblue;
    border-radius: 10px;
    width: 75%;
    height: auto;
}

.bears-cheer #about {
    background-color: white;
    padding: 10px;
    border: 2px solid lightskyblue;
    border-radius: 10px;
    width: 20%;
    height: auto;
    margin-right: 20px;
}

#title {
    text-align: center;
    background-color: white;
    padding: 10px;
    border: 2px solid lightskyblue;
    border-radius: 10px;
    width: 75%;
    height: auto;
    margin-bottom:10px;
}

#title span{
    color: #EFBCD5;
    text-shadow: 2px 2px 2px #8661C1;
    font-size: 64px;
    font-family: Brush Script MT;
}

.bottom-nav-bears {
    position: fixed;
    bottom: 16px;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.bottom-nav-bears ul {
    list-style: none;
    /*removes the bulletpoints*/
    padding: 0;
    margin: 0 32px;
    font-size: 0;
    background-color: white;
    border-radius: 20px;
    border: 10px black;
    padding: 0;
    display: inline-block;
}

.bottom-nav-bears ul li {
    display: inline;
    /*changing display style */
    padding: 0;
    margin: 0;
}

.bottom-nav-bears ul li a {
    display: inline-block;
    line-height: 30px;
    background-color: #ffd1e8;
    padding: 0 8px;
    text-decoration: none;
    border-radius: 15px;
    font-size: 18px;
    margin: 4px 5px;
    color: black;
}

.bears-lucky,
.bottom-nav-bears ul li a.bears-lucky {
    background-color: #C3DBC5;
}

.bears-cheer,
.bottom-nav-bears ul li a.bears-cheer {
    background-color: #ffd1e8;
}

body.bears-tenderheart {
    background-image: url("images/orange_gingham.jpg")
}

body.bears-cheer {
    background-image: url("/images/cheer_bear_and_cloud.png");
}

body.bears-bedtime {
    background-image: url("/images/blue-page-bg.jpg");
}

body.astro-page {
    background-image: url("/images/star_background.jpg");
}

.bears-tenderheart,
.bottom-nav-bears ul li a.bears-tenderheart {
    background-color: rgb(248, 207, 129);
}

.bears-funshine,
.bottom-nav-bears ul li a.bears-funshine {
    background-color: rgb(255, 255, 116);
}

.bears-bedtime,
.bottom-nav-bears ul li a.bears-bedtime {
    background-color: lightblue;
}

.bears-share,
.bottom-nav-bears ul li a.bears-share {
    background-color: rgb(173, 155, 232);
}

.flex-container-parent {
    display: flex;
}

.flex-container-parent,
.block-container-parent {
    margin: auto;
    margin-bottom: 38px;
}

@media (min-width: 640px) {
    .flex-container-parent,
    .block-container-parent {
        max-width: 512px;
    }
}

@media (min-width: 960px) {
    .flex-container-parent,
    .block-container-parent {
        max-width: 720px;
    }
}


.left-side-bar {
    padding: 10px;
    border-radius: 15px;
    background-color: #bcf;
    width: 20%;
    margin: 0 5px;
    color: purple;
}

.right-side-bar {
    padding: 10px;
    border-radius: 15px;
    background-color: pink;
    width: 20%;
    margin: 0 5px;
}

#astro-output h1 {
    text-align: center;
}

#astro-output h1#GummyBear {
    text-shadow: 
        -4px 4px #ef3550,
        -8px 8px #f48fb1,
        -12px 12px #7e57c2,
        -16px 16px #2196f3,
        -20px 20px #26c6da,
        -24px 24px #43a047,
        -28px 28px #eeff41,
        -32px 32px #f9a825,
        -36px 36px #ff5722;
    
}

.music-segment{
    margin: auto;
    height: 400px;
    background-color: rgb(32, 4, 62);
    border-radius: 12px;
    display: flex;
    width: fit-content;
}

.text-side{
    color: rgb(42, 2, 94);
    margin: auto 25px;
    width: 12rem;
    height: 352px;
    background-color: white;
    border-radius: 12px;
}

.music-side {
    color: rgb(42, 2, 94);
    margin: auto 25px;
    width: 30rem;
    height: 352px;
    background-color: white;
    border-radius: 12px;
}

.text-side p {
    padding: 10px;
    margin: 0;
}

.bear-pic,
#bear-pic {
    height : 512px; 
    width : 256px;
}

.marquee {
    background-color: white;
    
}

.ibuprofen-canvas {
    position: fixed;
    top: 0;
    left: 0;
}

#info {
    padding: 32px 0;
    width: auto;
    position: relative;
}